.text {
	margin: 32px;
	color: var(--dps-color-text);
}

.link {
	text-decoration: underline;
	color: var(--dps-color-text);
}

.bright {
	color: var(--dps-color-text-hover);
}

.link:hover {
	color: var(--dps-color-text-hover);
}
