.panel {
	position: absolute;
	background-color: var(--dps-color-body);
	color: var(--dps-color-text);

	pointer-events: auto;

	z-index: 1;
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 26px;
	padding: 4px;
	background-color: var(--dps-color-header);
	cursor: pointer;
}

.close {
	margin-left: 16px;
	color: var(--dps-color-close);
	cursor: pointer;
}
.close:hover {
	color: var(--dps-color-close-hover);
}

.body {
	display: flex;
	flex-direction: column;
	margin-top: 2px;
}

.row {
	position: relative;
	display: flex;
	height: 26px;
}

.rowBar {
	position: absolute;
	top: 2px;
	bottom: 2px;
	left: 2px;
	right: 2px;
}

.rowBarInner {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #3a71ba;
	/* opacity: 50%; */
}

.rowContent {
	flex: 1;
	z-index: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	color: var(--dps-color-text);

	/* maybe remove so row creators have full control? */
	margin: 0px 4px;
}

.rowContent:hover {
	color: var(--dps-color-text-hover);
}
