.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	pointer-events: none;

	--dps-color-text: #c0c3cf;
	--dps-color-text-hover: #fcfcfc;
	--dps-color-body: #3c3f4c;
	--dps-color-header: #373041;
	--dps-color-close: #c0c3cf;
	--dps-color-close-hover: #fcfcfc;
}
